.login{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: lighten($color: $dark-grey, $amount: 10);
  div{
    width: 500px;
    @media (max-width: 768px) {
      width: calc(100% - 50px);
    }
  }
  h1{
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing:1px;
    text-align:center;
    margin-bottom: 2rem;
  }
  h4{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -20px;
    color: lighten($color: red, $amount: 10);
  }
  form{
    display: flex;
    flex-direction: column;
    input {
      width: 100%;
      margin-bottom: 10px;
      background: rgba(0, 0, 0, 0.3);
      border: none;
      outline: none;
      padding: 10px;
      font-size: 13px;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
      -webkit-transition: box-shadow .5s ease;
      -moz-transition: box-shadow .5s ease;
      -o-transition: box-shadow .5s ease;
      -ms-transition: box-shadow .5s ease;
      transition: box-shadow .5s ease;
    }

    input:focus {
      box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
    }
    button{
      margin-top: .6rem;
       padding: 4px 10px 4px;
       font-size: 16px;
       font-weight: 500;
       line-height: 18px;
       color: black;
       text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
       background-color: #f5f5f5;
       border: 1px solid #e6e6e6;
       border-radius: 4px;
       cursor: pointer;
    }
  }
}